.tourList{
    width: 60vw;
    margin:0 auto;
    padding: 2rem 0;
    
}

@media screen and (min-width:375px){
    .tourList{
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 1.5rem;
    
    }
        
}

@media screen and (min-width:600px){
    .tourList{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1.2rem;
    
    }
        
}

@media screen and (min-width:992px){
    .tourList{
        grid-template-columns:  1fr 1fr 1fr;
        width: 85vw;
    }

}

@media screen and (min-width:1140px){
    .tourList{
        grid-template-columns:  1fr 1fr 1fr 1fr;
        width: 85vw;
    }

}